%section.intro
  .row
    .medium-12.columns
      %h1.intro-text Web Developer
      %p.intro-text I'm Jon Faulkenberry, a Seattle-based Web developer
      %p
        = link_to 'Send Me a Message', contact_path, :class => 'button small alert radius'
        %a.button.small.alert.radius{href: "//github.com/jonfaulkenberry"} Follow Me on GitHub