<section id="contact" class="contact-wrapper">
	<div class="row">
		<div class="medium-12 columns">
			<h3>Send Me a Message</h3>
			<div class="line"></div>
			<div class="clearfix"></div>
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
	<div class="row">
		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
		<div class="medium-6 columns">
			<form class="contact-form">
				<div class="input-item">
					<label>Name <span class="required">*</span></label>
					<input type="text" placeholder="Full name">
				</div><!-- /.input-item -->
				<div class="input-item">
					<label>Email <span class="required">*</span></label>
					<input type="email" placeholder="Email address">
				</div><!-- /.input-item -->
				<div class="input-item">
					<label>Messages <span class="required">*</span></label>
					<textarea cols="10" rows="4" placeholder="Your message"></textarea>
				</div><!-- /.input-item -->
				<div class="input-item text-center">
					<input class="button small success radius" type="submit" value="Submit">
				</div><!-- /.input-item -->
			</form><!-- /.contact-form -->
		</div><!-- /.medium-6 .columns -->
		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
	</div><!-- /.row -->
	<div class="clearfix"></div>
	<div class="row margin-top">
		<div class="medium-12 columns">
			<h3>Stay In Touch!</h3>
			<div class="line"></div>
			<div class="clearfix"></div>
			<ul class="social-icon">
				<li><a href="//github.com/jonfaulkenberry" class="github"><i class="fa fa-github"></i></a></li>
				<li><a href="//www.linkedin.com/profile/view?id=21737662" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="//twitter.com/jonfaulkenberry" class="twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="//plus.google.com/107408243070830845692/" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="//www.flickr.com/photos/jonfaulkenberry" class="flickr"><i class="fa fa-flickr"></i></a></li>
			</ul><!-- /.social-icon -->
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
</section><!-- /.contact-wrapper -->
