%section#about.about-wrapper
  .row
    .medium-12.columns
      %h3 About Me

  .col-progress
    .row
      .medium-4.columns
        %h6 HTML5
        .progress.success.round
          %span.meter{style: "width: 90%"}

        %h6 CSS3
        .progress.success.round
          %span.meter{style: "width: 90%"}

        %h6 JavaScript
        .progress.round
          %span.meter{style: "width: 80%"}

      .medium-4.columns.text-center
        .col-desc
          %p I'm a developer living in West Seattle. I enjoy spending time outdoors with my wife Leighann and our dog, Francis.
          = image_tag('me.jpg')

      .medium-4.columns
        %h6 Ruby on Rails
        .progress.medium-12.round
          %span.meter{style: "width: 80%"}

        %h6 ASP.NET
        .progress.medium-12.alert.round
          %span.meter{style: "width: 70%"}

        %h6 PHP & MySQL
        .progress.medium-12.alert.round
          %span.meter{style: "width: 70%"}