<header>Jon Faulkenberry</head>	
<section>
	I am a Web developer living in West Seattle. I have experience in
	a variety of server-side and client-side technologies. This is a 
	site to showcase some projects I've worked on.
</section>