<% content_for :inline_styles do %>
  <style type="text/css" media="screen">
    body { 
      padding-top: 0; 
      background: url("<%= asset_path 'unsplash_bg.png' %>") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;  
    }
    #yield { margin-top: 0; }
  </style>
<% end %>

<section class="intro">
  <div class="row">
    <div class="medium-12 columns">
      <h1 class="intro-text">Web Developer</h1>
      <p class="intro-text">I'm Jon Faulkenberry, a Seattle-based Web developer</p>
      <p>
        <%= link_to 'Send Me a Message', contact_path, :class => 'button small alert radius' %>
        <a href="//github.com/jonfaulkenberry" class="button small alert radius">Follow Me on GitHub</a>
      </p>
    </div><!-- /.medium-12 .columns -->
  </div><!-- /.row -->
</section><!-- /.intro -->
