<!-- INTRO -->
<section class="intro">
	<div class="row">
		<div class="medium-12 columns">
			<h1>Web Developer</h1>
			<p>I'm Jon Faulkenberry, a Seattle-based Web developer</p>
			<p>
				<a href="#contact" class="button small alert radius">Send Me a Message</a>
				<a href="https://github.com/jonfaulkenberry" id="twitterButton" class="button small alert radius">Follow Me on GitHub</a>
			</p>
			<%= image_tag('mac.png') %>
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->	
</section><!-- /.intro -->

<!-- ABOUT -->
<section id="about" class="about-wrapper">
	<div class="row">
		<div class="medium-12 columns">
			<h3>About Me</h3>
			<div class="line"></div>
			<div class="clearfix"></div>
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
	<div class="col-progress">
		<div class="row">
			<div class="medium-4 columns">
				<h6>HTML5</h6>
				<div class="progress success round">
					<span class="meter" style="width: 90%"></span>
				</div><!-- /.progress -->
				<h6>CSS3</h6>
				<div class="progress success round">
					<span class="meter" style="width: 90%"></span>
				</div><!-- /.progress -->
				<h6>JavaScript</h6>
				<div class="progress round">
					<span class="meter" style="width: 80%"></span>
				</div><!-- /.progress -->
			</div><!-- /.medium-4 .columns -->
			<div class="medium-4 columns text-center">
				<div class="col-desc">
					<p>I'm a developer living in West Seattle. I enjoy spending time outdoors with my wife Leighann and our dog, Francis.</p>
					<%= image_tag('avatar.jpg') %>
				</div><!-- ./col-desc -->
			</div><!-- /.medium-4 .columns -->
			<div class="medium-4 columns">
				<h6>Ruby on Rails</h6>
				<div class="progress medium-12 round">
					<span class="meter" style="width: 80%"></span>
				</div><!-- /.progress -->
				<h6>ASP.NET</h6>
				<div class="progress medium-12 alert round">
					<span class="meter" style="width: 70%"></span>
				</div><!-- /.progress -->
				<h6>PHP &amp; MySQL</h6>
				<div class="progress medium-12 alert round">
					<span class="meter" style="width: 70%"></span>
				</div><!-- /.progress -->
			</div><!-- /.medium-4 .columns -->
		</div><!-- /.row -->
	</div><!-- /.col-progress -->
</section><!-- /.about-wrapper -->

<!-- CONTACT -->
<section id="contact" class="contact-wrapper">
	<div class="row">
		<div class="medium-12 columns">
			<h3>Send Me a Message</h3>
			<div class="line"></div>
			<div class="clearfix"></div>
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
	<div class="row">
		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
		<div class="medium-6 columns">
			<form class="contact-form">
				<div class="input-item">
					<label>Name <span class="required">*</span></label>
					<input type="text" placeholder="Full name">
				</div><!-- /.input-item -->
				<div class="input-item">
					<label>Email <span class="required">*</span></label>
					<input type="email" placeholder="Email address">
				</div><!-- /.input-item -->
				<div class="input-item">
					<label>Messages <span class="required">*</span></label>
					<textarea cols="10" rows="4" placeholder="Your message"></textarea>
				</div><!-- /.input-item -->
				<div class="input-item text-center">
					<input class="button small success radius" type="submit" value="Submit">
				</div><!-- /.input-item -->
			</form><!-- /.contact-form -->
		</div><!-- /.medium-6 .columns -->
		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
	</div><!-- /.row -->
	<div class="clearfix"></div>
	<div class="row margin-top">
		<div class="medium-12 columns">
			<h3>Stay In Touch!</h3>
			<div class="line"></div>
			<div class="clearfix"></div>
			<ul class="social-icon">
				<li><a href="https://www.facebook.com/jonathan.faulkenberry" class="facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/jonfaulkenberry" class="twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://plus.google.com/107408243070830845692/" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="http://www.flickr.com/photos/jonfaulkenberry" class="flickr"><i class="fa fa-flickr"></i></a></li>
			</ul><!-- /.social-icon -->
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
</section><!-- /.contact-wrapper -->
