<div class="row">
  <div class="medium-12 columns">
    <h1> Manage</h1>
    <p>
      <%= link_to 'New post', new_post_path, :class => "button small radius" %>
      <%= link_to 'New project', new_project_path, :class => "button small radius" %>
    </p>
  </div>
</div>
