<div class="row">
  <div class="medium-12 columns">
    <% if @projects.empty? %>
    <h3>There are no projects to show!</h3>
    <% else %>
    <% @projects.each do |project| %>
    <div class="project" id="<%= dom_id(project) %>">
      <h3><%= link_to project.name, project %></h3>
      <article><%= project.technologies_used %></article>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
