<div class="row">
	<div class="medium-12 columns">
		<h2>My Portfolio</h2>

		<% @projects.each do |project| %>
		  <div class="project" id="<%= dom_id(project) %>">
		    <h3><%= project.name %></h3>
		    <p><%= project.technologies_used %></p>
		  </div>
		<% end %>
	</div>
</div>