.row
  .medium-12.columns
    - if @projects.empty?
      %h3 There are no projects to show!
    - else
      - @projects.each do |project|
        .project{id: dom_id(project)}
          %h3= link_to project.name, project
          %p= raw "Tags: #{project.tag_list.map{ |t| link_to t, project_tag_path(t) }.join( ', ')}"
          %article= project.technologies_used