<div class="row">
	<div class="medium-12 columns">
		<h2><%= @project.name %></h2>
		<% if not current_user.nil? %>
		<% end %>
		<p>Technologies used: <%= @project.technologies_used %>
	</div>
</div>