<div class="row">
	<div class="medium-12 columns">
    Forwarding to Twitter...
    <script type="text/javascript">
      window.location.href="<%= user_omniauth_authorize_path(:twitter) %>"
    </script>
	</div>
</div>