<div class="row">
  <div class="medium-8 columns">
    <% if policy_scope(@posts).empty? %>
      <h3>There are no posts to show!</h3>
    <% else %>
      <% policy_scope(@posts).each do |post| %>
        <article>
          <header>
            <h3><%= link_to post.title, post %></h3>
            <p><%= post.created_at.to_date %></p>
          </header>
          <section>
            <%= post.description %>
          </section>
        </article>
        <hr />
      <% end %>
    <% end %>
  </div>
  <%= render "posts/sidebar" %>
</div>
