.row
  .medium-8.columns
    - if policy_scope(@posts).empty?
      %h3 There are no posts to show!
    - else
      - policy_scope(@posts).each do |post|
        %article
          %header
            %h3= link_to post.title, post
            %p= post.created_at.to_date
          %section= post.description
        %hr/
  = render "posts/sidebar"