<div class="row">
	<div class="medium-12 columns">
		<% @posts.each do |post| %>
			<h3><%= post.title %></h3>
			<% if not current_user.nil? %>
			<% end %>
			<article><%= post.body %></article>
    <% end %>
	</div>
</div>
