.about-wrapper {
  background-color: transparent;
}
.about-wrapper h3 {
  text-align: center;
}

.about-wrapper .resume-button {
  text-align: center;
}
.about-wrapper img {
  display: block;
  width: 8.125rem;
  height: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 4px;
  margin: 0 auto 0.9375rem;
}
.col-progress {
  margin-top: 2.188rem;
}