body {
  a {
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  
  button, .button {
    text-transform: uppercase;
    box-shadow: 0 4px #0075a3;
    
    &:focus {
      box-shadow: 0 4px #00628a;
    }
    
    &.alert {
      box-shadow: 0 4px #d92a0d;
      
      &:hover, &:focus {
        box-shadow: 0 4px #d31800;
      }
    }
    
    &.secondary {
      box-shadow: 0 4px #c3c3c3;
      
      &:hover, &:focus {
        box-shadow: 0 4px #bbb;
      }
    }
    
    &.success {
      box-shadow: 0 4px #2c9553;
      
      &:hover, &:focus {
        box-shadow: 0 4px #258348;
      }
    }
  }
  
  #footer {
    background-color: rgba(37,37,37,0.9);
    bottom: 0;
    color: #979797;
    padding: 1rem 0rem 0rem 0rem;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 97;
  
    a, a:visited {
      color: #979797;
    
      &:hover {
        color: #fff;
      }
    }
  }

  #main {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  
  #toast-container div {
    opacity: 1.0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
  }
  
  .fixed {
    z-index: 97;
  }

  .mathead {
    background-color: rgba(244, 244, 244, 1.0);
    box-shadow: 0 1px #e8e8e8;
  }
  
  .search-icon, .search-back-icon {

    &:hover {
      color: #ea2f10;
    }
  }
}
