<footer id="footer" class="copy">
	<div class="row">
		<div class="medium-12 columns">
			<p>
				&copy; Copyright 2014 <%= link_to "Jon Faulkenberry", root_url %> | 
        <% if current_user.nil? %>
          <%= link_to "Sign In with Twitter", user_omniauth_authorize_path(:twitter) %>
				<% else %>
					<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
				<% end %>
			</p>
		</div><!-- /.medium-12 .columns -->
	</div><!-- /.row -->
</footer><!-- /.copy -->
