<header class="mathead fixed">
	<div class="row">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><%= link_to "Jon Faulkenberry", root_url %></h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul><!-- /.title-area -->
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li><%= link_to "Blog", posts_url %></li>
					<li><%= link_to "Portfolio", projects_url %></li>
					<li><%= link_to "Contact", root_url(:anchor => "contact") %></li>
				</ul><!-- /.right -->
			</section><!-- /.top-bar-section -->
		</nav><!-- /.top-bar -->
	</div><!-- /.row -->
</header><!-- /.masthead -->